.edit-invoice-outside-div {
    position: absolute;
    width: 100%;
    max-width: 1440px;
    min-height: 1424px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    mix-blend-mode: normal;
    /* z-index: 5; */
    position: absolute;
    margin: 0 auto;
}

.edit-invoice-container-div {
    width: 719px;
    height: 100%;
    /* z-index: 16; */
    position: absolute;
    display: flex;
    background: #FFFFFF;
    border-radius: 0px 20px 20px 0px;
}

.edit-invoice-container-div-dark-mode {
    width: 719px;
    height: 100%;
    /* z-index: 16; */
    position: absolute;
    display: flex;
    background: #141625;
    border-radius: 0px 20px 20px 0px;
}

.edit-invoice-inside-container-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 56px 56px 32px 56px;
}

.edit-invoice-id-span {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: #0C0E16;
}

.edit-invoice-id-span-gray {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: #888EB0;
}

.edit-invoice-bill-from-div {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    width: 100%;
    height: 209px;
}

.edit-invoice-bill-from-div h5 {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7C5DFA;
    margin-bottom: 24px;
}

.edit-invoice-bill-from-street-address-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 73px;
    justify-content: space-between;
    margin-bottom: 24px;
}

.edit-invoice-bill-from-street-address-div span{
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7E88C3;
}

.edit-invoice-bill-from-street-address-div input {
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DFE3FA;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0C0E16;
    width: 100%;
}

.edit-invoice-bill-from-city-post-code-country-div {
    height: 73px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.edit-invoice-bill-from-city-div {
    height: 73px;
    width: 33%;
    max-width: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-invoice-bill-from-city-div span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7E88C3;
}

.edit-invoice-bill-from-city-div input {
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DFE3FA;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0C0E16;
    width: 100%;
}

.edit-invoice-bill-from-post-code-div {
    height: 73px;
    width: 33%;
    max-width: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-invoice-bill-from-post-code-div span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7E88C3;
}

.edit-invoice-bill-from-post-code-div input {
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DFE3FA;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0C0E16;
    width: 100%;
}

.edit-invoice-bill-from-country-div {
    height: 73px;
    width: 33%;
    max-width: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-invoice-bill-from-country-div span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7E88C3;
}

.edit-invoice-bill-from-country-div input {
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DFE3FA;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0C0E16;
    width: 100%;
}

.edit-invoice-bill-to-div {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    width: 100%;
    height: 403px;
}

.edit-invoice-bill-to-div h5 {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7C5DFA;
    margin-bottom: 24px;
}

.edit-invoice-bill-to-client-name-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 73px;
    justify-content: space-between;
    margin-bottom: 24px;
}

.edit-invoice-bill-to-client-name-div span{
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7E88C3;
}

.edit-invoice-bill-to-client-name-div input {
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DFE3FA;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0C0E16;
    width: 100%;
}

.edit-invoice-bill-to-client-email-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 73px;
    justify-content: space-between;
    margin-bottom: 24px;
}

.edit-invoice-bill-to-client-email-div span{
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7E88C3;
}

.edit-invoice-bill-to-client-email-div input {
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DFE3FA;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0C0E16;
    width: 100%;
}

.edit-invoice-bill-to-street-address-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 73px;
    justify-content: space-between;
    margin-bottom: 24px;
}

.edit-invoice-bill-to-street-address-div span{
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7E88C3;
}

.edit-invoice-bill-to-street-address-div input {
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DFE3FA;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0C0E16;
    width: 100%;
}

.edit-invoice-bill-to-city-post-code-country-div {
    height: 73px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.edit-invoice-bill-to-city-div {
    height: 73px;
    width: 33%;
    max-width: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-invoice-bill-to-city-div span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7E88C3;
}

.edit-invoice-bill-to-city-div input {
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DFE3FA;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0C0E16;
    width: 100%;
}

.edit-invoice-bill-to-post-code-div {
    height: 73px;
    width: 33%;
    max-width: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-invoice-bill-to-post-code-div span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7E88C3;
}

.edit-invoice-bill-to-post-code-div input {
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DFE3FA;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0C0E16;
    width: 100%;
}

.edit-invoice-bill-to-country-div {
    height: 73px;
    width: 33%;
    max-width: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-invoice-bill-to-country-div span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7E88C3;
}

.edit-invoice-bill-to-country-div input {
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DFE3FA;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0C0E16;
    width: 100%;
}