.homepage-container-div {
    display: flex;
}

.homepage-inside-container-div {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
}

.homepage-inside-container-div-dark-mode {
    display: flex;
    flex-direction: column;
    background-color: #141625;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
}

.invoices-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 730px;
    height: 59px;
    margin-top: 72px;
}

.invoices-header-left-side {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 59px;
    justify-content: space-between;
}

.invoices-header-left-side-small {
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 44px;
    justify-content: space-between;
    display: none;
}

.invoices-header-left-side-dark-mode {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 59px;
    justify-content: space-between;
}

.invoices-header-left-side-dark-mode-small {
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 44px;
    justify-content: space-between;
    display: none;
}

.invoices-header-left-side span {
    background: inherit;
}

.invoices-header-left-side-small span {
    background: inherit;
}

.invoices-header-left-side-dark-mode h1 {
    color: #FFFFFF;
}

.invoices-header-left-side-dark-mode-small h2 {
    color: #FFFFFF;
}

.invoices-header-left-side-dark-mode span {
    background: inherit;
    color: #DFE3FA;
}

.invoices-header-left-side-dark-mode-small span {
    background: inherit;
    color: #DFE3FA;
}

.filtered-container-div {
    display: flex;
    width: 118px;
    height: 59px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 40px;
}

.filter-div-true {
    width: 118px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.filter-div {
    width: 118px;
    height: 15px;
    margin-right: 40px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.filter-option-div {
    position: absolute;
    width: 192px;
    height: 128px;
    z-index: 7;
    top: 132px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
}

.filter-option-div-dark-mode {
    position: absolute;
    width: 192px;
    height: 128px;
    z-index: 7;
    top: 132px;
    background: #252945;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
}

.filter-checkbox { 
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    background: #DFE3FA;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #DFE3FA;
}

.filter-checkbox-dark-mode { 
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    background: #1E2139;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #1E2139;
}

.filter-checkbox-checked {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    background: #7C5DFA;
    border-radius: 2px;
    box-sizing: border-box;
}

.filter-checkbox-checked-dark-mode {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    background: #7C5DFA;
    border-radius: 2px;
    box-sizing: border-box;
}

.filter-option-span {
    display: flex;
    align-items: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0C0E16;
    cursor: pointer;
}

.filter-option-span:hover .filter-checkbox {
    background: #DFE3FA;
    border: 1px solid #7C5DFA;
}

.filter-option-span-dark-mode {
    display: flex;
    align-items: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    cursor: pointer;
}

.filter-option-span-dark-mode:hover .filter-checkbox-dark-mode {
    background: #1E2139;
    border: 1px solid #7C5DFA;
}

.filter-span {
    width: 93px;
    height: 15px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0C0E16;
}

.filter-span-small {
    width: 34px;
    height: 15px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0C0E16;
    display: none;
}

.filter-span-dark-mode {
    width: 93px;
    height: 15px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
}

.filter-span-dark-mode-small {
    width: 34px;
    height: 15px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    display: none;
}

.down-arrow-icon {
    width: 12px;
    height: 8px;
}

.down-arrow-icon-reversed {
    width: 12px;
    height: 8px;
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.header-button {
    width: 150px;
    height: 48px;
    background: #7C5DFA;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-button:hover {
    background: #9277FF;
}

.header-button-small {
    width: 90px;
    height: 44px;
    background: #7C5DFA;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.header-button-small:hover {
    background: #9277FF;
}

.icon-div {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-span {
    margin-left: auto;
    margin-right: 6%;
    height: 15px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
}

@media (max-width:875px) {
    .homepage-container-div {
        flex-direction: column;
    }

    .homepage-inside-container-div {
        justify-content: flex-start;
        padding: 0px 48px 4px 48px;
    }
    
    .homepage-inside-container-div-dark-mode {
        justify-content: flex-start;
        padding: 0px 48px 4px 48px;
    }
    
    .invoices-header {
        margin-top: 56px;
    }

    .filter-option-div {
        top: 195px;
    }
    
    .filter-option-div-dark-mode {
        top: 195px;
    }
    
}
@media (max-width:625px) {
    .homepage-inside-container-div {
        justify-content: flex-start;
        padding: 0px 36px 4px 36px;
    }
    
    .homepage-inside-container-div-dark-mode {
        justify-content: flex-start;
        padding: 0px 36px 4px 36px;
    }
}

@media (max-width:550px) {
    .homepage-inside-container-div {
        justify-content: flex-start;
        padding: 0px 24px 4px 24px;
    }
    
    .homepage-inside-container-div-dark-mode {
        justify-content: flex-start;
        padding: 0px 24px 4px 24px;
    }

    .invoices-header {
        height: 44px;
        margin-top: 32px;
    }

    .invoices-header-left-side {
        display: none;
    }
      
    .invoices-header-left-side-dark-mode {
        display: none;
    }

    .invoices-header-left-side-small {
        display: flex;
    }

    .invoices-header-left-side-dark-mode-small {
        display: flex;
    }

    .filter-span {
        display: none;
    }
    
    .filter-span-small {
        display: block;
    }
    
    .filter-span-dark-mode {
        display: none;
    }
    
    .filter-span-dark-mode-small {
        display: block;
    }

    .filter-div {
        width: 54px;
    }

    .header-button {
        display: none;
    }
       
    .header-button-small {
        display: flex;
    }

    .filter-option-div {
        top: 155px;
    }
    
    .filter-option-div-dark-mode {
        top: 155px;
    }
}