.light-navbar {
    width: 103px;
    min-height: 800px;
    background: #373B53;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding-bottom: 24px;
    justify-content: space-between;
    align-items: center;
}

.dark-navbar {
    width: 103px;
    min-height: 800px;
    background: #1E2139;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding-bottom: 24px;
    justify-content: space-between;
    align-items: center;
}

.button-box {
    width: 103px;
    height: 103px;
    padding: 0px;
    border-radius: 0px 20px 20px 0px;
    overflow: hidden;
}

.button {
    position: relative;
    width: 103px;
    height: 103px;
    background: #7C5DFA;
    border-radius: 0px 20px 20px 0px;
    z-index: 1;
}

.button:focus {
    background: #7C5DFA;
    box-shadow: none;
}

.button:active {
    box-shadow: none;
}

.button:hover {
    background: #7C5DFA;
    box-shadow: none;
}

.box {
    position: relative;
    width: 103px;
    height: 103px;
    background: #9277FF;
    border-radius: 20px 0px 0px 20px;
    margin-top: 47px;
    margin-left: -10px;
    z-index: 1;
}

.logo {
    position: absolute;
    width: 40px;
    height: 37.71px;
    left: calc(50% - 40px/2 + 0.5px);
    top: 32.29px;
    z-index: 2;
}

.second-box {
    width: 103px;
    height: 117px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sun-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.moon-icon {
    width: 19.99px;
    height: 19.9px;
    cursor: pointer;
}

.second-box-line {
    width: 103px;
    height: 1px;
    padding: 0px;
    background: #494E6E;
    margin-top: 7px;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media (max-width: 875px) {
    .light-navbar {
        width: 100%;
        height: 80px;
        min-height: 0px;
        border-radius: 0px;
        flex-direction: row;
        padding: 0px;
    }

    .dark-navbar {
        width: 100%;
        height: 80px;
        min-height: 0px;
        border-radius: 0px;
        flex-direction: row;
        padding: 0px;
    }

    .button-box {
        width: 80px;
        height: 80px;
    }

    .button {
        width: 80px;
        height: 80px;
    }

    .box {
        position: relative;
        width: 80px;
        height: 80px;
        margin-top: 37px;
    }
    
    .logo {
        width: 31px;
        height: 29px;
        left: calc(50% - 31px/2 + 0.5px);
        top: 26px;
    }
    
    .second-box {
        width: 150px;
        height: 80px;
        flex-direction: row;
        padding-right: 32px;
    }
    
    .second-box-line {
        width: 1px;
        height: 80px;
        margin: 0px;
    }

    .profile-img {
        width: 32px;
        height: 32px;
    }
}

@media (max-width: 375px) {
    .light-navbar {
        height: 72px;
    }

    .dark-navbar {
        height: 72px;
    }

    .button-box {
        width: 72px;
        height: 72px;
    }

    .button {
        width: 72px;
        height: 72px;
    }

    .box {
        position: relative;
        width: 72px;
        height: 72px;
        margin-top: 32px;
    }
    
    .logo {
        width: 28px;
        height: 26px;
        left: calc(50% - 28px/2 + 0.5px);
        top: 23px;
    }
    
    .second-box {
        width: 125px;
        height: 72px;
        flex-direction: row;
        padding-right: 24px;
    }
    
    .second-box-line {
        height: 72px;
    }

    .profile-img {
        width: 32px;
        height: 32px;
    }
}