@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

.invoices-container-div {
    max-width: 730px;
    width: 100%;
    min-height: 600px;
    box-sizing: border-box;
    background-color: inherit;
}

.invoices-inside-container-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-container-div-all-invoices {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-container-div-filtered-invoices {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-outside-div {
    max-width: 730px;
    width: 100%;
    height: 72px;
    margin-bottom: 16px;
    cursor: pointer;
}

.card-outside-div-filtered {
    max-width: 730px;
    width: 100%;
    height: 72px;
    margin-bottom: 16px;
    cursor: pointer;
}

.card-inside-div {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    padding-left: 32px;
    padding-right: 24px;
    border-radius: 8px;
}

.card-inside-div-small {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: 8px;
    display: none;
    padding: 24px 48px 24px 48px;
}

.card-inside-div-dark-mode {
    width: 100%;
    height: 100%;
    background: #1E2139;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    padding-left: 32px;
    padding-right: 24px;
    border-radius: 8px;
}

.card-inside-div-dark-mode-small {
    width: 100%;
    height: 100%;
    background: #1E2139;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: 8px;
    display: none;
    padding: 24px 48px 24px 48px;
}

.card-inside-div-small-top-portion {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-inside-div-small-bottom-portion {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 47px;
}

.card-inside-div-small-bottom-portion-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.id-span {
    width: 60px;
    height: 15px;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7E88C3;
    text-align: left;
}

.black-font-span {
    color: #0C0E16;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
}

.white-font-span {
    color: #FFFFFF;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
}

.due-date-span {
    width: 110px;
    height: 15px;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #888EB0;
    text-align: left;
}

.due-date-span-dark-mode {
    width: 110px;
    height: 15px;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    text-align: left;
}

.client-name-span {
    width: 110px;
    height: 15px;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #858BB2;
    text-align: left;
}

.card-inside-div-small-top-portion .client-name-span {
    text-align: right;
}

.client-name-span-dark-mode {
    width: 110px;
    height: 15px;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    text-align: left;
}

.card-inside-div-small-top-portion .client-name-span-dark-mode {
    text-align: right;
}

.totals-span {
    width: 99px;
    height: 24px;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.8px;
    color: #0C0E16;
    text-align: right;
}

.card-inside-div-small-bottom-portion .totals-span {
    text-align: left;
}

.totals-span-dark-mode {
    width: 99px;
    height: 24px;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.8px;
    color: #FFFFFF;
    text-align: right;
}

.card-inside-div-small-bottom-portion .totals-span-dark-mode {
    text-align: left;
}

.british-pound-span {
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-size: 2.4rem;
    font-weight: bold;
}

.draft-status-div {
    width: 104px;
    height: 40px;
    background: rgba(55, 59, 83, 0.06);
    mix-blend-mode: normal;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -22px;
}

.card-inside-div-small-bottom-portion .draft-status-div {
    margin-right: 0px;
}

.draft-status-div-dark-mode {
    width: 104px;
    height: 40px;
    background: rgba(223, 227, 250, 0.06);
    mix-blend-mode: normal;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -22px;
}

.card-inside-div-small-bottom-portion .draft-status-div-dark-mode {
    margin-right: 0px;
}

.status-span-draft {
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #373B53;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-span-draft-dark-mode {
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #DFE3FA;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}

.draft-ball-div {
    width: 8px;
    height: 8px;
    background: #373B53;
    border-radius: 50%;
    margin-right: 8px;
}

.draft-ball-div-dark-mode {
    width: 8px;
    height: 8px;
    background: #DFE3FA;
    border-radius: 50%;
    margin-right: 8px;
}

.pending-status-div {
    width: 104px;
    height: 40px;
    background: rgba(255, 133, 0, 0.06);
    mix-blend-mode: normal;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -22px;
}

.card-inside-div-small-bottom-portion .pending-status-div {
    margin-right: 0px;
}

.status-span-pending {
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #FF8F00;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pending-ball-div {
    width: 8px;
    height: 8px;
    background: #FF8F00;
    border-radius: 50%;
    margin-right: 8px;
}

.paid-status-div {
    width: 104px;
    height: 40px;
    background: rgba(51, 214, 159, 0.06);
    mix-blend-mode: normal;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -22px;
}

.card-inside-div-small-bottom-portion .paid-status-div {
    margin-right: 0px;
}

.status-span-paid {
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #33D69F;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paid-ball-div {
    width: 8px;
    height: 8px;
    background: #33D69F;
    border-radius: 50%;
    margin-right: 8px;
}

.empty-invoices-container-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.empty-invoices-inside-container-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 242px;
    height: 341px;
    margin-top: 79px;
}

.empty-invoices-text-container-div {
    width: 220px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.empty-invoices-h5{
    height: 22px;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.625px;
    color: #0C0E16;
    margin-bottom: 24px;
}

.empty-invoices-h5-dark-mode {
    height: 22px;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.625px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.empty-invoices-p {
    width: 220px;
    height: 31px;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.25px;
    color: #888EB0;
}

.empty-invoices-p-dark-mode {
    width: 220px;
    height: 31px;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.25px;
    color: #dfe3fa;
}

.empty-invoices-p span {
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.25px;
    color: #888EB0;
}

.empty-invoices-p-dark-mode span {
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.25px;
    color: #dfe3fa;
}

@media (max-width: 875px) {
    .invoices-container-div {
        margin-top: 56px;
    }
}

@media (max-width: 750px) {
    .card-outside-div {
        height: 134px;
    }

    .card-outside-div-filtered {
        height: 134px;
    }

    .card-inside-div {
        display: none;
    }

    .card-inside-div-small {
        display: flex;
    }

    .card-inside-div-dark-mode {
        display: none;
    }

    .card-inside-div-dark-mode-small {
        display: flex;
    }
}

@media (max-width: 550px) {
    .invoices-container-div {
        margin-top: 32px;
    }
}

@media (max-width: 450px) {
    .card-inside-div-small {
        padding: 24px;
    }
    
    .card-inside-div-dark-mode-small {
        padding: 24px;
    }
}