.view-invoice-outside-div {
    display: flex;
    height: 908px;
}

.view-invoice-outside-container-div {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
}

.view-invoice-outside-container-div-dark-mode {
    display: flex;
    flex-direction: column;
    background-color: #141625;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
}

.view-invoice-inside-container-div {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    width: 730px;
    min-height: 790px;
}

.go-back-span {
    height: 15px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0C0E16;
    text-align: top;
    display: flex;
    align-items: center;
}

.left-arrow-icon {
    margin-right: 23.66px;
}

.view-invoices-option-bar {
    margin-top: 32px;
    margin-bottom: 24px;
    height: 88px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
}

.view-invoices-option-bar-left-side {
    display: flex;
    width: 159px;
    height: 40px;
}

.view-invoices-option-bar-left-side span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    margin-right: 16px;
}

.view-invoices-option-bar-left-side .status-span-draft {
    font-weight: 700;
}

.view-invoices-option-bar-left-side .status-span-pending {
    font-weight: 700;
}

.view-invoices-option-bar-left-side .status-span-paid {
    font-weight: 700;
}

.view-invoices-option-bar-right-side{
    display: flex;
    width: 309px;
    height: 48px;
    justify-content: space-between;
    align-items: center;
}

.edit-button {
    width: 73px;
    height: 48px;
    background: #F9FAFE;
    border-radius: 24px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7E88C3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button {
    width: 89px;
    height: 48px;
    background: #EC5757;
    border-radius: 24px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mark-pending-button {
    width: 131px;
    height: 48px;
    background: #FF8F00;
    border-radius: 24px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mark-paid-button {
    width: 131px;
    height: 48px;
    background: #7C5DFA;
    border-radius: 24px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-invoices-info-div {
    width: 100%;
    height: 631px;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 48px;
}

.view-invoices-info-top-div {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
}

.view-invoices-info-top-left-div {
    height: 75px;
    display: flex;
    flex-direction: column;
}

.view-invoices-info-top-left-div-id-span {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: -0.8px;
    color: #888EB0;
}

.view-invoices-info-top-left-div-id-span .black-span{
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: -0.8px;
    color: #0C0E16;
}

.view-invoices-info-top-left-div-description-span {
    margin-top: 8px;
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7E88C3;
}

.view-invoices-info-top-right-div {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.view-invoices-info-top-right-div span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 18px;
    text-align: right;
    letter-spacing: -0.229167px;
    color: #7E88C3;
}

.view-invoices-info-middle-container-div {
    width: 100%;
    height: 130px;
    margin-bottom: 45px;
}