@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

.app-outside-container {
    width: 100%;
    min-height: 100vh;
    background-color: #F8F8F8;
}

.app-outside-container-gray-mode {
    width: 100%;
    min-height: 1424px;
    background-color: #F8F8F8;
}

.app-outside-container-dark-mode {
    width: 100%;
    min-height: 100vh;
    background-color: #141625;
}

.app-outside-container-dark-mode-gray-mode {
    width: 100%;
    min-height: 1424px;
    background-color: #141625;
}

.app-inside-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #F8F8F8;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.app-inside-container-dark-mode {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #141625;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 500;
}

@media(max-width: 875px){
    .app-outside-container-gray-mode {
        min-height: 1504px;
    }
   
    .app-outside-container-dark-mode-gray-mode {
        min-height: 1504px;
    }
}